<h1>eShop</h1>

<% @items.each do |item| %>
	<a href="<%= item_path(item.id) %>">
		<%= image_tag item.image_url %><br>
		<%= item.title %>
	</a>
	<br>
	<%= item.description %>
	<%= item.price %>
	<br><br>
<% end %>